.Pdf-App {
    text-align: center;
  }
  
  .Pdf-App-header {
    background-color: #222;
    height: 60px;
    padding: 5px;
    color: white;
  }
  
  .Pdf-App-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
  }